{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <br><br>

    <div class="list-group">
        <a href="/currency/" class="list-group-item list-group-item-action">Валюты</a>
        <a href="/prices/" class="list-group-item list-group-item-action">Цены</a>
        <a href="/freeFloat/" class="list-group-item list-group-item-action">Free Float</a>
        <a href="/divider/" class="list-group-item list-group-item-action">Divider</a>
        <a href="/indexes/" class="list-group-item list-group-item-action">Индексы</a>
    </div>

</div>

{% endblock %}